<div>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast position="top-center"></p-toast>
</div>
<div class="main-block">
  <div class="container">
    <h2 class="subtitle mb-4">Адрес склада</h2>
    <div class="row">
      <div class="col-lg-6">
        <p-card>
          <div class="address-sec">
            <span>
              努尔波+код<br>
              13078833342<br>
              广东省 佛山市 南海区<br>
              里水镇新联工业区工业大道东一路3号航达В01库区-努尔波+ код
            </span>
            <img src="assets/location.svg" alt="location">
          </div>
          <p-button (click)="copyAddress()"
                    label="Скопировать"
                    styleClass="p-button-raised p-button-text"
                    icon="pi pi-copy"
                    iconPos="left"></p-button>
        </p-card>
      </div>
    </div>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        ПИНДУОДУО
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/lyEdrOx_D-8?si=UQA5r67dUaXW6Cbc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        ТАОБАО
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/lzJyQog4nvs?si=oenKoCeI3aIw1dEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        1688
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/O95dS6mogrE?si=pIztXU8gR1QaG0Kg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        ПОЙЗОН
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/nD75UZdB6x0?si=E3_101lILb_ZPvmZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
