<div>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast position="top-center"></p-toast>
</div>
<div class="main-block">
  <div class="container">
    <h2 class="subtitle mb-4">Адрес склада</h2>
    <div class="row">
      <div class="col-lg-6">
        <p-card>
          <div class="address-sec">
            <span>
              8988-ваш код <br>
              13288822727 <br>
              广东省  广州市  白云区 <br>
              西槎路明德街21号B108铺库房810-埋头8988-ваш код
            </span>
            <img src="assets/location.svg" alt="location">
          </div>
          <p-button (click)="copyAddress()"
                    label="Скопировать"
                    styleClass="p-button-raised p-button-text"
                    icon="pi pi-copy"
                    iconPos="left"></p-button>
        </p-card>
      </div>
    </div>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        ПИНДУОДУО
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/gC94ndWwQcs?si=igTsHOEB6pbEMXgR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        ТАОБАО
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/ax8aMu_mKCM?si=ulVDinEBPfGV9Smv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        1688
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/DDHlfNcazQ4?si=9ekZeX2swi5baZwK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
