.card {
  background-color: #EFF3F7;
  padding-top: 50px;
  margin-top: 80px;
  min-height: 100vh;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

