<div>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast position="top-center"></p-toast>
</div>
<div class="main">
  <div class="container">
    <div class=" row">
      <div class="col-12 col-lg-6">
        <p-card>
          <h1 class="title mb-4">SILK WAY CARGO</h1>
          <div *ngIf="isAuthorized(); else notAuthorized">
          </div>
          <ng-template #notAuthorized>
            <p-tabView [(activeIndex)]="activeIndex">
              <p-tabPanel header="Авторизоваться">
                <form (ngSubmit)="signin()" [formGroup]="loginForm">
                  <div class="loginForm container row">
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4">
                        <p-inputMask styleClass="yourclass" formControlName="phoneNumber" mask="+9 (999) 999-99-99"></p-inputMask>
                        <label>Номер телефона</label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4 mb-3">
                        <input class="form-control" id="password" type="password" pInputText formControlName="password" name="password">
                        <label for="password">Пароль</label>
                      </div>
                    </div>
                    <my-button type="submit" text="Авторизоваться" [isDisabled]="isLoading"></my-button>
                    <a class="mt-4 link" routerLink="/forgot">Сбросить пароль</a>
                  </div>
                </form>
              </p-tabPanel>
              <p-tabPanel header="Зарегистрироваться">
                <form (ngSubmit)="register()" [formGroup]="signupForm">
                  <div class="loginForm container row">
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4">
                        <input class="form-control" id="float-input" type="text" pInputText formControlName="username" name="login">
                        <label for="float-input">Код клиента</label>
                      </div>
                      <!--                    <div *ngIf="signupForm.controls.username.invalid && (signupForm.controls.username.dirty || signupForm.controls.username.touched)"-->
                      <!--                         style="font-size: 12px; margin: 10px 0 0 10px;">-->
                      <!--                      <div *ngIf="signupForm.controls.username.errors?.['required']">-->
                      <!--                        Заполните поле-->
                      <!--                      </div>-->
                      <!--                      <div *ngIf="signupForm.controls.username.errors?.['hasWhiteSpace']">-->
                      <!--                        Уберите пробел-->
                      <!--                      </div>-->
                      <!--                    </div>-->
                    </div>
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4 col-6">
                        <input class="form-control" id="name" type="text" pInputText formControlName="name" name="name">
                        <label for="name">Имя</label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4">
                        <input class="form-control" id="surname" type="text" pInputText formControlName="surname" name="surname">
                        <label for="surname">Фамилия</label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4">
                        <input class="form-control" id="mail" type="mail" pInputText formControlName="mail" name="mail">
                        <label for="mail">Почта</label>
                      </div>
                      <!--                    <div *ngIf="signupForm.controls.mail.invalid && (signupForm.controls.mail.dirty || signupForm.controls.mail.touched)"-->
                      <!--                         style="font-size: 12px; margin: 10px 0 0 10px;">-->
                      <!--                      <div *ngIf="signupForm.controls.mail.errors?.['required']">-->
                      <!--                        Заполните поле-->
                      <!--                      </div>-->
                      <!--                      <div *ngIf="signupForm.controls.mail.errors?.['email']">-->
                      <!--                        Укажите почту по формату mail@mail (убедитесь, что нет пробелов)-->
                      <!--                      </div>-->
                      <!--                    </div>-->
                    </div>
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4">
                        <p-inputMask formControlName="phoneNumber" mask="+9 (999) 999-99-99"></p-inputMask>
                        <label>Номер телефона</label>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="p-float-label w-100 mt-4 mb-2">
                        <input class="form-control" id="signupFormpassword" type="password" pInputText formControlName="password" name="password">
                        <label for="float-input">Пароль</label>
                      </div>
                    </div>
                    <div class="col-lg-6 mt-2 mb-2">
                      <div class="checkbox-form">
                        <p-checkbox formControlName="checked" value="New York" [binary]="true" inputId="binary"></p-checkbox>
                        <label class="mx-2" for="binary">Соглашаюсь с условиями карго</label>
                      </div>
                    </div>
                    <my-button class="mt-3" type="submit" text="Зарегистрироваться"></my-button>
                  </div>
                </form>
              </p-tabPanel>
            </p-tabView>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="container">
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        Видео-инструкция
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/I9W-7JXNjgk?si=D4rDsbQiBnblf_A7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<p-divider></p-divider>
<div class="conditions">
  <div class="container">
    <div>
      <h2 class="subtitle mb-4">УСЛОВИЯ ДОСТАВКИ / ЖЕТКІЗУ ШАРТТАРЫ</h2>
      <p-accordion [activeIndex]="0">
        <p-accordionTab header="🆔 КОД КЛИЕНТА и АДРЕС СКЛАДА / КЛИЕНТ КОДЫ және ҚОЙМА МЕКЕНЖАЙЫ:">
          <p>
            Для идентификации ваших заказанных товаров из Китая необходимо получить свой персональный код. С этим кодом заполняете адрес склада в маркетплейсах согласно видеоинструкции, и отправляете скриншот на проверку. Для получения кода нужно написать нам на WhatsApp. Стоимость клиентского кода 1000 тенге.
            <p-divider></p-divider>
            Қытайдан тапсырыс берген тауарыңызды анықтау үшін сізге жеке код алу қажет.  Код арқылы видео нұсқауларға сәйкес маркетплейстардағы қойма мекенжайын толтырып, скриншотын тексеруге жібересіз. Кодты алу үшін бізге WhatsApp желісіне жазыңыз. Клиент кодының құны 1000 теңге.
          </p>
        </p-accordionTab>
        <p-accordionTab header="⏳ СРОК ДОСТАВКИ / ЖЕТКІЗУ МЕРЗІМІ:">
          <p>
            10-20 дней со дня отправки из Китая в город Актобе. Вид транспортировки - экспресс (быстрое авто). Также имеется авто медленный для больших габаритов и оптовых закупок со сроком доставки более 30 дней. Необходимо учесть, что при форс-мажорных обстоятельствах доставка груза может задержаться на неопределенный срок, поэтому 100% гарантию на срок доставки не даем. Форс-мажорные обстоятельства: временные ограничения или запрет движения транспорта, временная остановка работы таможенного пункта, природные катаклизмы, вооруженные конфликты, пандемия и т.д.
            <p-divider></p-divider>
            Қытайдан Ақтөбе қаласына жөнелтілген күннен бастап 10-20 күн. Тасымалдау түрі – экспресс (жылдам көлік). Және де улкен габаритті, көтерме тауарларға арналған жай автокөлік жеткізу уақыты 30 күннен астам. Форс-мажорлық жағдайларда жүкті жеткізу белгісіз мерзімге кешіктірілуі мүмкін, сондықтан біз жеткізу мерзіміне 100% кепілдік бермейміз. Форс-мажорлық жағдайлар: көлік қозғалысына уақытша шектеулер немесе тыйым салу, кеден пунктінің жұмысын уақытша тоқтатылуы, табиғи апаттар, қарулы қақтығыстар, пандемия және т.б.
          </p>
        </p-accordionTab>
        <p-accordionTab header="💰 СТОИМОСТЬ ДОСТАВКИ / ЖЕТКІЗУ ҚҰНЫ:">
          <p>
            4.5$ за 1кг товара, вне зависимости одежда или хозтовар, оплата только за вес. Имеются скидки, если на моменте отправки товара из Китая общий вес товара выше 20кг, то цена за 1кг – 4.3$. Курс за доставку, рассчитается на момент выдачи, согласно курсу продажи доллара $ Халык банка.
            <p-divider></p-divider>
            1 кг-ға 4.5$ долллар, киім немесе тұрмыстық тауарлар екеніне қарамастан, ақысы тек қана салмағына. Және де жеңілдіктер бар, егер Қытайдан тауарды жөнелту кезінде тауардың жалпы салмағы 20 кг-нан жоғары болса, онда 1 кг-ның бағасы - 4.3$. Жеткізу құнының курсы - тауарды беру кезіндегі Халық банкінің доллар $ сату курсына сәйкес есептеледі.
          </p>
        </p-accordionTab>
        <p-accordionTab header="📦 УСЛОВИЯ и ВИД ТОВАРА / ТАУАР ТҮРІ және ШАРТТАРЫ:">
          <p>
            Принимаются товары мелкие товары от 100гр до крупных товаров более тонны. Товары свыше 20кг начинаются рассчитываться со скидкой.
            <br>
            <br>
            Хрупкие товары: стекло, стеклянные посуды, люстра принимаем только выше 10кг, поскольку после получения на складе необходимо сделать обрешетку груза со стоимостью 15$. Только в таких условиях хрупкие товары могут прибыть в целости и сохранности. Поэтому если имеются хрупкие товары нужно заранее уведомлять. Без обрешетки за слом таких товаров ответственность не несем.
            <br>
            <br>
            Также, наша команда не несет ответственности за качество, цвет, количество и ошибки магазина заказанного вами товара. Для проверки количество заказанных товаров необходимо связаться с нами.
            <p-divider></p-divider>
            Салмағы 100гр ұсақ тауарлардан бастап, тоннадан асатын ірі тауарларға дейін қабылдаймыз. 20кг жоғары тауарлар жеңілдіктермен есептеліп бастайды.
            <br>
            <br>
            Оңай сынатын тауарлар: әйнек, шыны ыдыстар, люстра тек 10 кг-нан жоғары қабылданады, өйткені қоймаға түскеннен кейін жүктің сыртын құны 15 доллар болатын ағашпен қаптау қажет. Тек сондай жағдайда ғана сынғыш тауарлар қауіпсіз келеді. Сол себепті бұндай тауарларыңыз болса бізбен алдын ала хабарласыңыз. Сырты ағашпен қапталмаса, заттың сынбауына жауапкершілік алмаймыз.
            <br>
            <br>
            Сондай-ақ, біздің команда тапсырыс берген тауарыңыздың сапасына, түсіне, санына және дүкен қателіктеріне жауапкершілік алмайды. Тапсырыс берілген тауарлардың санын тексеру үшін бізбен хабарласу қажет.
          </p>
        </p-accordionTab>
        <p-accordionTab header="🚫 ЗАПРЕЩЕННЫЕ ТОВАРЫ / ТЫЙЫМ САЛЫНҒАН ТАУАРЛАР:">
          <p>
            • Ноутбук, телефоны и планшеты<br>
            • Воспламеняющие, взрывчатые вещества: зажигалка, масла, порох, баллончики, химические материалы и т.д.<br>
            • Жидкие вещества свыше 100мл<br>
            • Контрабандные товары: золото, серебро, норковая шуба<br>
            • Продукты питания и растения<br>
            • Лекарства и БАДы, витамины<br>
            • Все виды оружия и военные товары<br>
            • Радиоактивные вещества<br>
            <p-divider></p-divider>
            • Ноутбук, телефондар және планшеттер<br>
            • Оңай тұтандырғыш, жарылғыш заттар:  оттық, майлар, лак, порох, баллондар, химиялық материалдар және т.б.<br>
            • Сұйық заттар 100мл артық<br>
            • Контрабандалық тауарлар: алтын, күміс, күзен шуба<br>
            • Азық-түлік және өсімдіктер<br>
            • Дәрі-дәрмектер мен биологиялық белсенді қоспалар, дәрумендер<br>
            • Қарудың барлық түрлері және әскери заттар<br>
            • Радиоактивтік заттар<br>
          </p>
        </p-accordionTab>
        <p-accordionTab header="🏁 ВЫДАЧА ТОВАРА / ТАУАР ТАРАТЫЛУЫ">
          <p>
            В телеграм-канале и инстаграм странице SILKWAY AKTOBE будут отправляться уведомления о поступлении товара. Также вы сможете отследить поступление товара на нашем сайте. Зеленым загоревшие товары, означают, что поступили на склад в Актобе. Далее можете забрать ваш товар по адресу ул.Абилкайыр-хана 23 (остановка Электрон) или оформить через нас доставку до дома, или же направить нам курьера для получения товара. Для клиентов других западных городов товар отправляется через Казпочту, оплата за Казпочту производится самим клиентом.
            <p-divider></p-divider>
            SILKWAY AKTOBE телеграм-каналында және инстаграм парақшасында Ақтөбеге келіп түскен тауарлар жөнінде хабарламалар келіп тұрады. Сондай-ақ біздің сайт арқылы келген тауарларды бақылай аласыз. Жасыл түспен жанып тұрған тауарлар Ақтөбедегі қоймаға келгенін білдіреді. Келген тауарларды Абилкайыр-хан көшесі 23-үй (Электрон аялдамасы) мекен-жайы бойынша алып кете аласыз, немесе біз арқылы уйіңізге дейін жеткізуге немесе курьер жіберегу болады. Басқа Батыс қалаларының клиенттері үшін тауар бұдан әрі Қазпошта арқылы жөнелтіледі, Қазпошта үшін төлемді клиенттің өзі жүргізеді.
          </p>
        </p-accordionTab>
        <p-accordionTab header="🛅 СРОК БЕСПЛАТНОГО ХРАНЕНИЯ / ТАУАРДЫ ТЕГІН САҚТАУ МЕРЗІМІ">
          <p>
            Срок бесплатного хранения товара 7 дней со дня поступления на склад в Актобе. По истечении 7 дней будет считаться платное хранение в размере 200 тенге в день. Поэтому настоятельно просим, следить за поступлениями товара на сайте отслежки, а также в списке телеграмм-канале и своевременно забирать. Если не получите товар в течение месяца, то товар переходит в собственность карго.
            <p-divider></p-divider>
            Тауарды тегін сақтау мерзімі Ақтөбе қаласындағы қоймаға түскен күннен бастап 7 күнді құрайды. 7 күн уақыт өткеннен кейін қоймада тауарды сақтау ақылы болады, күніне 200 теңге. Сондықтан, сайт отслежкада, сондай-ақ телеграмм-каналымызда тауарыңыздың келгенін қадағалап, уақытында алып кетуіңізді сұраймыз. Егер бір ай ішінде тауарыңызды алмасаңыз, тауар карго меншігіне өтеді.          </p>
        </p-accordionTab>
        <p-accordionTab header="👥 ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ / ҚОСЫМША ҚЫЗМЕТТЕР:">
          <p>
            Любая консультация и помощь в работе с Китаем бесплатная. Имеется качественная услуга по поиску и выкупу любого товара, стоимость поиска товара 1000тг, выкуп дополнительно 8% от цены товара в маркетплейсах. Можете связаться с нами по любым вопросам, используя контактные данные ниже.
            <p-divider></p-divider>
            Қытаймен жұмыс істеу кезінде кез келген кеңес беру мен көмек көрсету тегін жүргізіледі. Сондай-ақ, тауарды іздеу және сатып алу бойынша сапалы қызметтер бар, тауар іздеу құны 1000тг, сатып алу маркетплейстағы тауар бағасынан қосымша 8%. Төмендегі байланыс мәліметтері арқылы кез келген сұрақтар бойынша бізбен байланыса аласыз.
          </p>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</div>
