<nav class="navbar fixed-bottom">
  <div class="container">
    <div class="nav">

<!--      <div class="block">-->
<!--        <i class="pi pi-question-circle"></i>-->
<!--        <span class="text">FAQ</span>-->
<!--      </div>-->
      <div class="navBlock">
        <div (click)="route('/user/home')" [className]="currentUrl === '/user/home' ? 'active-block' : 'block'">
          <i class="pi pi-home"></i>
          <span class="text">Главная</span>
        </div>
        <div *ngIf="isAuthorized()" (click)="route('/user/track')" [className]="currentUrl === '/user/track' ? 'active-block' : 'block'">
          <i class="pi pi-send"></i>
          <span class="text">Трек-номера</span>
        </div>
        <div (click)="route('/user/auto-tracking')" [className]="currentUrl === '/user/auto-tracking' ? 'active-block' : 'block'">
          <i class="pi pi-map-marker"></i>
          <span class="text">Авто отслеживание</span>
        </div>
        <div (click)="route('/user/address')" [className]="currentUrl === '/user/address' ? 'active-block' : 'block'">
          <i class="pi pi-map"></i>
          <span class="text">Адрес склада</span>
        </div>
        <div *ngIf="isAuthorized()" (click)="route('/user/profile')" [className]="currentUrl === '/user/profile' ? 'active-block' : 'block'">
          <i class="pi pi-user"></i>
          <span class="text">Личный кабинет</span>
        </div>
        <div (click)="route('/user/calculator')" [className]="currentUrl === '/user/calculator' ? 'active-block' : 'block'">
          <i class="pi pi-calculator"></i>
          <span class="text">Калькулятор</span>
        </div>
      </div>

    </div>
  </div>
</nav>
