<div class="progress-spinner" *ngIf="isLoading">
  <p-progressSpinner></p-progressSpinner>
</div>
<div>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast position="top-center"></p-toast>
</div>
<div class="trackPage">
  <div class="container">
    <p-card>
      <div class="">
        <span class="welcomeText">Общее кол-во треков: {{ totalTracks }}</span>
      </div>
      <div class="mt-3">
        <p-button (click)="openDialog()"
                  label="Добавить трек номер"
                  styleClass="p-button-raised p-button-text"
                  icon="pi pi-plus"
                  iconPos="left"></p-button>
      </div>
      <div class="mt-3">
<!--        <p class="mb-3 welcomeText">Сортировка по:</p>-->
        <p-dropdown [options]="sortOptions" [(ngModel)]="sortValue" (onChange)="sortChange()" optionLabel="name" placeholder="Сортировка по"></p-dropdown>
<!--        <p-listbox [options]="sortOptions" [(ngModel)]="sortValue" optionLabel="name" [style]="{'width':'15rem'}" [listStyle]="{'max-height': '220px'}"></p-listbox>-->
<!--        <p-selectButton [options]="sortOptions" [(ngModel)]="sortValue" optionLabel="label" optionValue="value"></p-selectButton>-->
      </div>
    </p-card>
    <div *ngIf="sortedData">
      <div *ngFor="let item of sortedData">
        <div class="row">
          <div class="mt-3">{{ getSelectDate(item) }}</div>
          <div *ngFor="let i of item" class="col-lg-4 col-md-6 col-12">
            <app-user-track [item]="i"
                            [sortValue]="sortValue"
                            (deleteTrack)="deleteTrack($event)"
                            (selectionChanged)="updateSelectedTracks($event, i)"
            ></app-user-track>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!sortedData" class="row">
      <div *ngFor="let item of data" class="col-lg-4 col-md-6 col-12">
        <app-user-track [item]="item"
                        [sortValue]="sortValue"
                        (deleteTrack)="deleteTrack($event)"
                        (selectionChanged)="updateSelectedTracks($event, item)"
        ></app-user-track>
      </div>
    </div>

  </div>
</div>
<div class="btns-sec">
  <div class="select-btns">
    <button *ngIf="selectedTracks.length > 0" (click)="deleteTracks()" class="deleteBtn">Удалить все ({{ selectedTracks.length }})</button>
    <button *ngIf="selectedTracks.length > 0" (click)="cancelSelect()" class="cancelBtn">Отменить выделение</button>
  </div>
  <div class="mt-3">
    <button *ngIf="sortValue" (click)="cancelSort()" class="cancelBtn">Сбросить сортировку</button>
  </div>
</div>

