<div>
  <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
  <p-toast position="top-center"></p-toast>
</div>
<div class="main-block">
  <div class="container">
    <h2 class="subtitle mb-4">Автоматическое отслеживание товара</h2>
    <p>
      Для автоматического отслеживания товара перейдите в систему по ссылке ниже. Сделайте регистрацию с электронной почтой. Внизу видео инструкция как сделать регистрацию и как отслеживать товары.
      <br>
      <br>
      В данной системе вам не нужно добавлять трек-коды товара вручную, они будут автоматически добавляться согласно вашему клиентскому коду. Только в системе необходимо убедиться, что после заказа товара с маркетплейсов, через пару дней они поступили на склад и были отправлены в Актобе. Также Вам будут отправляться уведомления на электронную почту об отправке и поступлении товара.
      <br>
      <br>
      <a href="https://www.silkway-aktobe.com">Cсылка для перехода в систему</a>
    </p>
    <div class="video-sec">
      <h2 class="subtitle mb-4">
        Видео-инструкция
      </h2>
      <div class="row">
        <div class="col-lg-8">
          <iframe class="video" src="https://www.youtube.com/embed/p3Bh5eZugRs?si=JJ0FgMSMzcJF5c_v" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
