
.footer {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.logo {
  width: 200px;
}

.social-medias i {
  font-size: 35px;
  color: orange;
  cursor: pointer;
}

.social-medias i:hover{
  color: #c07b00;
}

.footer h3 {
  font-size: 25px;
  //color: orange;
}
