<p-divider></p-divider>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <img class="logo" src="assets/logo.jpg" alt="logotype">
      </div>
      <div class="col-lg-4 mb-4">
        <h3 class="mb-4">Контакты</h3>
        <div class="contacts">
          <div class="mb-2">Номер: +7 705 518 89 88</div>
          <div class="mb-2">+7 702 197 45 76</div>
          <div class="mb-2">Почта: silkway.aktobe@gmail.com</div>
          <div>Адрес: г.Актобе ул.Абилкайыр-хана 23</div>
        </div>
      </div>
      <div class="col-lg-4 mt-4 mb-4">
<!--        <h3 class="mb-4">Мы в социальных сетях</h3>-->
        <div class="social-medias">
          <a href="https://wa.me/77055188988" target="_blank"><i class="pi pi-whatsapp"></i></a>
          <a href="https://instagram.com/silkway.aktobe?igshid=OGQ5ZDc2ODk2ZA==" target="_blank"><i class="pi pi-instagram mx-4"></i></a>
          <a href="https://t.me/+0n9XMzJY7jYxNGQy" target="_blank"><i class="pi pi-telegram"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
