
.footer {
  padding-top: 50px;
  background-color: #ffffff;
}

.logo {
  width: 200px;
}

.social-medias i {
  font-size: 35px;
  color: orange;
  cursor: pointer;
}

.social-medias i:hover{
  color: #c07b00;
}

.footer h3 {
  font-size: 25px;
  //color: orange;
}

@media (max-width: 992px) {
  .footer {
    margin-bottom: 80px;
  }
}
